.navbar-default {
    background-color: #bf00ff;
    border-color: #E7E7E7;
}


#homeScreen{
    width:100%;
    height:auto;
}

#container{
    position: relative;
    min-width:screen.width;
    height:auto;
}

#container-liveshow{
    position: relative;
    width: 95%;
    height: auto;  
}

/*
#song-title-tag
{
    position: absolute;
    bottom: 5%;
    right: 25%;
    left: 25%;

}
*/

#liveshowScreen
{
    width: 98%;
    height: auto;
}

#liveshowAlbum{
    position: absolute;
    width:48%; 
    height:auto;
    
    top: 12%;
    left: 28%;
    

}

/* height should be 591px */

#idol_img{
    position: absolute;


    height:95%;
    width: auto;


    bottom: 0%;
    left: -6.5%;
 
    
}

#home_but{
    position: absolute;
    max-height: 15%;
    bottom: -1%;
    left: 2%;

}


#story_but{
    position: absolute;
    max-height: 15%;
    bottom: -1.5%;
    left: 17%;

}

#member_but{
    position: absolute;
    max-height: 16%;
    bottom: -1.5%;
    left: 30%;

}

#liveshow_but{
    position: absolute;
    max-height: 15%;
    bottom: -1%;
    left: 44%;

}

#camera_but{
    position: absolute;
    max-height: 18%;
    bottom: 0%;
    left: 71%;

}

#settings_but{
    position: absolute;
    max-height: 15%;
    bottom: -1.1%;
    left: 82%;

}





.bubble 
{
    position: absolute;
    top: 68%;
    left: 1%;

    width:90%;
    min-height:1.5em;
    padding: 12px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 2px;

    /* Allows us to make bubble transparent */
    background-color: rgba(255,255,255,0.7);
    pointer-events: none;
}

.bubble:after 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 20px 15px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 70%;

    opacity: 0.7;
    filter: alpha(opacity=70);
    pointer-events: none;
}

.bubble:before 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 21px 16px;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -18px;
    left: 70%;

    opacity: 0.7;
    filter: alpha(opacity=70);
    pointer-events: none;
}









.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
