#homeScreen{
    width:1140;
    height:700;
}

#container{
    position: relative;
    width: 1140px;
    height: 700px;
}

/* height should be 591px */

#idol_img{
    position: absolute;

    /* rect(cut from top, null, null, cut from left)*/
    clip: rect(72px,2000px,2000px,72px);

    max-height:770px;
    width: auto;
    height: auto;

    bottom: 0%;
    left: -6.5%;
 
    
}

#home_but{
    position: absolute;
    bottom: -1%;
    left: 6%;

}

#story_but{
    position: absolute;
    bottom: -1.5%;
    left: 19%;

}

#member_but{
    position: absolute;
    bottom: -1.5%;
    left: 31%;

}

#settings_but{
    position: absolute;
    bottom: -1.1%;
    right: 6%;

}

#card_id{
    width:200px;
}


.bubble 
{
    position: absolute;
    bottom: 20%;
    left: 8%;

    width:420px;
    min-height:1.5em;
    padding: 16px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 2px;

    /* Allows us to make bubble transparent */
    background-color: rgba(255,255,255,0.7);
}

.bubble:after 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 20px 15px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 350px;

    opacity: 0.7;
    filter: alpha(opacity=70);
}

.bubble:before 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 21px 16px;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -18px;
    left: 349px;

    opacity: 0.7;
    filter: alpha(opacity=70);
}

