#homeScreenStory{
    width:1240px;
    height:700px;
}

#container{
    position: relative;
    width: 1140px;
    height: 700px;
}

#edit_text_box{
    position:absolute;
    max-width:100%;
    top:72%;
    left: 7%;
}

#edit_speaker_box{
    position:absolute;
    max-width:100%;

    bottom:32%;
    left: 7%;
}

#temp_text_box_img{
    position: absolute;
    width:100%;
    height:200px;
 
    bottom: 1%;
    left: 5%;

    opacity: 0.7;
    filter: alpha(opacity=70);
}

#story_speaker_img{
    position: absolute;
    width:17%;
    height:50px;
 
    bottom: 31%;
    left: 5%;

    opacity: 0.7;
    filter: alpha(opacity=70);
}

#idol_img_center{
    position: absolute;

    /* rect(cut from top, null, null, cut from left)*/
    clip: rect(72px,2000px,2000px,72px);

    max-height:770px;
    /*max-height:870px;*/

    width: auto;
    height: auto;

    bottom: 0%;
    left: 20%;
    /*left:15%;*/
 
    
}



#idol_img_left{
    position: absolute;

    /* rect(cut from top, null, null, cut from left)*/
    clip: rect(72px,2000px,2000px,72px);

    max-height:770px;
    width: auto;
    height: auto;

    bottom: 0%;
    left: -13.5%;
 
    
}


#idol_img_right{
    position: absolute;

    /* rect(cut from top, null, null, cut from left)*/
    clip: rect(72px,2000px,2000px,72px);

    max-height:770px;
    width: auto;
    height: auto;

    bottom: 0%;
    left: 50%;
 
    
}



#emotion_img_left{
    position: absolute;


    max-height:80px;
    /*max-height:870px;*/

    width: auto;
    height: auto;

    top: 9%;
    left: 10%;
    /*left:15%;*/
 
    
}

#emotion_img_center{
    position: absolute;


    max-height:80px;
    /*max-height:870px;*/

    width: auto;
    height: auto;

    top: 9%;
    left: 42%;
    /*left:15%;*/
 
    
}

#emotion_img_right{
    position: absolute;


    max-height:80px;
    /*max-height:870px;*/

    width: auto;
    height: auto;

    top: 9%;
    right: 21%;
    /*left:15%;*/
 
    
}

#startNewStoryGIFBut{
    width:240px; 
    right:10px; 
    float:right; 
    margin:10px; 
    padding:10px;
}
